[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/chriseppstein/vim-haml
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/benjifisher/matchit.zip.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-pasta"]
	path = bundle/vim-pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/leshill/vim-json.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/conque"]
	path = bundle/conque
	url = https://github.com/basepi/vim-conque.git
[submodule "bundle/markdown-folding"]
	path = bundle/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule "bundle/eunuch"]
	path = bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = git@github.com:skwp/vim-ruby-conque.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git@github.com:Rip-Rip/clang_complete.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "bundle/autoproto"]
	path = bundle/autoproto
	url = git@github.com:vim-scripts/autoproto.vim.git
[submodule "bundle/arduino"]
	path = bundle/arduino
	url = git@github.com:tclem/vim-arduino.git
[submodule "bundle/visual-star-search"]
	path = bundle/visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
